/*
* Main tags elements and text styles
*/
.text{
  font-family: 'Montserrat', sans-serif;
}
.left-title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.date-text{
  font-size: 40px;
  font-weight: 700;
}
.white-text{
  color: #ffffff;
}
.italic{
  font-style: italic;
}
.title-nav, .nav-dates{
  font-weight: 700;
}

.link{
  font-weight: 700;
  text-decoration: none;
}

.link:visited{
  color: black;
}
/*
* nav-wrapper
*/
.nav-wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 5vh;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0px 7px 29px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 29px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 29px -9px rgba(0,0,0,0.75);
}
.nav-element{
  display: inline-block;
  top: 0px;
  height: 100%;
  position: absolute;
}
.nav-title{
  width: 25%;
  text-align: left;
  vertical-align: middle;
}
.nav-dates{
  width: 70%;
  left: 25vw;
}
.nav-link{
    margin-right: 9.5vw;
}

.change-link{
  position: absolute;
  right: 0px;
}
#histoire{
  color: #ffffff;
  display:none;
}


/*
* end nav-wrapper
*/

/*
* horizontal scroll wrappers
*/
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}
#wrapper {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#000000;
  position:absolute;
  width:95vh;
  height:100vw;
  margin-top: 5vh;
}
#inner-wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  padding-right: 100px;
}
.timeline{
  position: absolute;
  height: 1px;
  width: 10000px;
  top: 52.5vh;
  left: 25vw;
  background-color: white;
  margin-left: 30px;
  margin-right: 200px;
}
.bounding-rect-div{
  display: inline-block;
}
.timeline-dot-wrapper{
  display: inline-block;
  margin-right: 30vw;
  position: relative;
  height: 200px;
}
.timeline-dot-wrapper-up{
  left: -10px;
  top: -500px;
}
.timeline-dot-wrapper-bottom{
  left: -10px;
  top: -10px;
}
.timeline-dot{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  border: solid 1px white;
  display: inline-block;
}
.timeline-dot-up{
  position: relative;
  top: 490px;
}
.img-timeline{
  position: absolute;
  width: 20vw;
  top: 150px;
}
.anchor-div{
  position: absolute;
  /* top: 200px; */
}
/*
* end horizontal scroll
*/

/*
* left-div wrapper
*/
.left-div-wrapper{
  width: 25vw;
  height: 95vh;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-div-up, .left-div-bottom{
  height: 50%;
  width: 25vw;
  position: relative;
}
.left-div-up{
  background-color: #c4c4c4;
}
.left-div-bottom{
  background-color: #11C6c6;
}
.left-div-text{
  text-align: left;
  margin: auto;
  width: 85%;
  height: 85%;
  /* border: solid 1px black; */
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  line-height: 3vh;
}
.date{
  position: absolute;
  top: 0px;
  left: 0px;
  /* border: solid 1px black; */
  width: 100%;
  height: 20%;
}
.date-text{
  line-height: 80px;
  vertical-align: left;
  text-align: left;
}
.left-text-div{
  position: relative;
  margin-top: 100px;
}
/*
* end bottom-div wrapper
*/


/*
* elements div
*/
.right-div-gradient{
  width: 1vw;
  height: 95vh;
  background-color: white;
  position: fixed;
  bottom: 0px;
  right: -0vw;
  -webkit-box-shadow: -12px 0px 148px 86px rgba(0,0,0,0.5);
  -moz-box-shadow: -12px 0px 148px 86px rgba(0,0,0,0.5);
  box-shadow: -12px 0px 148px 86px rgba(0,0,0,0.5);
}
/*
* properties shared
*/
.fixed{
  position: fixed;
}
.inline-block{
  display: inline-block;
}
.border{
  outline: solid 1px black;
}
